[core]
	#global ignoring
	excludesfile = ~/.gitignore
[user]
	name = Stef Bastiaansen
	email = stef.bastiaansen@wijs.be

[alias]
	a = add
	ch = checkout
	co = commit -am
	c = commit -am
	s = status --short --branch
	b = branch
	pl = pull
	ps = push
 	m = merge
	d = diff
	r = remote
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	au =  update-index --assume-unchanged
	nau = update-index --no-assume-unchanged
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
	ui = auto

[merge]
	log = true

